<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="admin-dash">
    <div class="body-inner">
        <div th:replace="fragments/navbar">
            partial content goes here...
        </div>

        <div id="page-banner-area" class="page-banner-area" style="background-image:url(./images/hero_area/banner_bg.jpg)">
            <!-- Subpage title start -->
            <div class="page-banner-title">
                <div class="text-center">
                    <h2>Welcome, <span class="ml-2" th:text="${currentUser.firstName + ' ' + currentUser.lastName}"></span></h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="#"></a>
                        </li>
                        <li>
                        </li>
                    </ol>
                </div>
            </div><!-- Subpage title end -->
        </div><!-- Page Banner end -->

        <section id="main-container" class="main-container">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-md-8 col-sm-12 mx-auto">
                        <div class="post">


                            <div class="post-body mt-2 pt-3">
                                <div class="post-meta">



                                </div>
                                <div class="entry-header">
                                    <h2 class="entry-title">
                                        <a href="#">6th - 8th Grade Contestants</a>
                                    </h2>
                                </div><!-- header end -->

                                <div class="entry-content">
                                    <div class="my-2" th:each="user : ${users}" th:if="${user.grade == '6th - 8th grade'}">
                                        <p th:text="${user.firstName + ' ' + user.lastName + ', ' + user.grade + ', ' + user.school}"> </p>
                                    </div>
                                </div>

                            </div><!-- post-body end -->
                        </div><!-- 1st post end -->
                        <div class="post">


                            <div class="post-body mt-2 pt-3">
                                <div class="post-meta">



                                </div>
                                <div class="entry-header">
                                    <h2 class="entry-title">
                                        <a href="#">9th - 10th Grade Contestants</a>
                                    </h2>
                                </div><!-- header end -->

                                <div class="entry-content">
                                    <div class="my-2" th:each="user : ${users}" th:if="${user.grade == '9th - 10th grade'}">
                                        <p th:text="${user.firstName + ' ' + user.lastName + ', ' + user.grade + ', ' + user.school}"> </p>
                                    </div>
                            </div><!-- post-body end -->
                        </div><!-- 1st post end -->
                        <div class="post">
                            <div class="post-body mt-2 pt-3">
                                <div class="post-meta">
                                </div>
                                <div class="entry-header">
                                    <h2 class="entry-title">
                                        <a href="#">11th - 12th Grade contestants</a>
                                    </h2>
                                </div><!-- header end -->

                                <div class="entry-content">
                                    <div class="my-2" th:each="user : ${users}" th:if="${user.grade == '11th - 12th grade'}">
                                        <ul class="d-flex" style="list-style: none">
                                            <li th:text="${'STUDENT NAME: ' + user.firstName + ' ' + user.lastName}"></li>
                                            <li class="ml-3" th:text="${'GRADE: ' + user.grade}"></li>
                                            <li class="ml-3" th:text="${'SCHOOL: ' + user.school}"></li>
                                        </ul>
                                        <hr>
                                    </div>
                                </div>
                            </div><!-- post-body end -->
                        </div><!-- 1st post end -->

                        <div class="post">


                            <div class="post-body mt-2 pt-3">
                                <div class="post-meta">

                                </div>
                                <div class="entry-header">
                                    <h2 class="entry-title">
                                        <a href="#">Conflicts Of Interest</a>
                                    </h2>
                                </div><!-- header end -->

                                <div class="entry-content">
                                    <p>Once you have completed your analysis and are ready to submit , you may use the form below to upload your file. Note: submissions over 25 megabytes will not be accepted. You will not be able to revise your file after submission.</p>
                                </div>

                                <div class="post-footer">
                                    <!--                                    <a th:href="@{/submissions/create}" class="btn rounded-pill" style="background-color: #803E97; color: white; width: 100%">Upload Your Submission</a>-->

                                </div>

                            </div><!-- post-body end -->
                        </div><!-- 1st post end -->


                    </div><!-- Content Col end -->

                </div><!-- Main row end -->

            </div><!-- Container end -->
        </section><!-- Main container end -->

        <!-- ts footer area start-->
        <div class="footer-area">

            <!-- ts-book-seat start-->

            <!-- book seat  end-->

            <!-- footer start-->
            <footer class="ts-footer pt-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <!-- footer social end-->
                            <div class="footer-menu text-center mb-25">

                            </div><!-- footer menu end-->
                            <div class="copyright-text text-center">
                                <p>Powered by Codeup © 2020 </p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- footer end-->

            <div class="BackTo">
                <a href="#" class="fa fa-angle-up" aria-hidden="true"></a>
            </div>

        </div>
        <!-- ts footer area end-->




        <!-- Javascript Files
              ================================================== -->
        <!-- initialize jQuery Library -->
        <script src="js/jquery.js"></script>

        <script src="js/popper.min.js"></script>
        <!-- Bootstrap jQuery -->
        <script src="js/bootstrap.min.js"></script>
        <!-- Counter -->
        <script src="js/jquery.appear.min.js"></script>
        <!-- Countdown -->
        <script src="js/jquery.jCounter.js"></script>
        <!-- magnific-popup -->
        <script src="js/jquery.magnific-popup.min.js"></script>
        <!-- carousel -->
        <script src="js/owl.carousel.min.js"></script>
        <!-- Waypoints -->
        <script src="js/wow.min.js"></script>
        <!-- isotop -->
        <script src="js/isotope.pkgd.min.js"></script>

        <!-- Template custom -->
        <script src="js/main.js"></script>
    </div>
</div>

</body>

</html>