<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="judge-dash">
    <div class="body-inner">
        <div th:replace="fragments/navbar">
            partial content goes here...
        </div>

        <div id="page-banner-area" class="page-banner-area" style="background-image:url(./images/hero_area/banner_bg.jpg)">
            <!-- Subpage title start -->
            <div class="page-banner-title">
                <div class="text-center">
                    <h2>Welcome, <span class="ml-2" th:text="${currentUser.firstName + ' ' + currentUser.lastName}"></span></h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="#"></a>
                        </li>
                        <li>
                        </li>
                    </ol>
                </div>
            </div><!-- Subpage title end -->
        </div><!-- Page Banner end -->

        <section id="main-container" class="main-container">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-md-8 col-sm-12 mx-auto">
                        <div class="post">


                            <div class="post-body mt-2 pt-3">
                                <div class="post-meta">



                                </div>
                                <div class="entry-header">
                                    <h2 class="entry-title">
                                        <a href="#">Instructions for Judges</a>
                                    </h2>
                                </div><!-- header end -->

                                <div class="entry-content">
                                    <p>Thank you for participating as a judge for the COVID-19 Data Challenge! As a judge, you will be evaluating submissions to this challenge based on criteria provided below. You will read the instructions for the challenge as they were provided to the students as well as review the data-sets they have used to come up with their solutions. Considering the instructions, data, and grade level of the student, you will provide a score for each criterion for each submission. Students will be ranked based on an aggregate score from multiple judges.</p>
                                    <p>Judging will open on September 26th and needs to be complete by October 3rd. We anticipate each judge being assigned 8-12 student submissions. Each submission should take 15-30 minutes to review. Overall, we expect that you’ll need about 4 hours to complete the judging. For proof of volunteer hours for your employer, or for any other questions, please contact innovation@dallascityhall.com.</p>
                                </div>


                            </div><!-- post-body end -->
                        </div><!-- 1st post end -->
                        <div class="post">


                            <div class="post-body mt-2 pt-3">
                                <div class="post-meta">



                                </div>
                                <div class="entry-header">
                                    <h2 class="entry-title">
                                        <a href="#">Judging Criteria</a>
                                    </h2>
                                </div><!-- header end -->

                                <div class="entry-content">
                                    <ul>
                                        <li>Data Management (10 pts): This project uses data effectively, efficiently, and accurately to generate results.</li>
                                        <li>Creativity (5 pts): The way that this project uses and presents data is novel or innovative.</li>
                                        <li>Analysis (20 pts): This project contains thoughtful, outcome-oriented analysis that produces insights.</li>
                                        <li>Visualization (5 pts): This project makes use of a presentable, aesthetically pleasing, effective visualization.</li>
                                        <li>Coding (5 pts): This project makes use of intelligent, well-written code to generate results.</li>
                                        <li>Professionalism (5 pts): The formatting, grammar, citations, and presentation of this project is professional in quality.</li>
                                    </ul>
                                </div>


                            </div><!-- post-body end -->
                        </div><!-- 1st post end -->

                        <div class="post">


                            <div class="post-body mt-2 pt-3">
                                <div class="post-meta">



                                </div>
                                <div class="entry-header">
                                    <h2 class="entry-title">
                                        <a href="#">Description of Challenge</a>
                                    </h2>
                                </div><!-- header end -->

                                <div class="entry-content">
                                    <p>The COVID-19 pandemic is affecting people across our region. The DFW metroplex has had over 150,000 cases of COVID-19, and many of these cases have occurred in younger people. Those who are younger may feel fine and not have any symptoms, but may be unknowingly spreading the virus to their friends and family because of it. This makes it especially important for teenagers and young adults to be aware of the risks of the virus and to have a good understanding of how it is impacting our communities.</p>
                                    <p>The COVID-19 Student Data Challenge is an opportunity for you and other students from our area to analyze real data-sets to learn more about COVID-19 and what’s happening in the Dallas area. By participating in the challenge, not only will you learn more about data skills and have a chance to win a prize, you will also have the opportunity to help spread awareness of COVID-19 and keep our schools and communities safe.</p>
                                    <p>Your task is to produce a deliverable that demonstrates analysis of these data-sets and communicates insights that you’ve learned about COVID-19 through the data. These deliverables can be a Powerpoint, a dashboard, a written document, or any other format of communicating this information. The only rule is that submissions are capped at 20 pages maximum. We encourage you to use visuals as needed to explain your information.</p>
                                    <h3>Submissions will be judged on the following criteria:</h3>
                                    <ul>
                                        <li>Data Management: how effectively you used data</li>
                                        <li>Creativity: how innovatively you used the data</li>
                                        <li>Analysis: how thoughtful and insightful your results were</li>
                                        <li>Visualization: how effective your data visualizations were</li>
                                        <li>Coding: how well you used code to generate results</li>
                                        <li>Professionalism: how neat your grammar, formatting, and citations are</li>
                                    </ul>
                                    <p>To help you with these projects, we will be providing optional mentorship appointments to get help from a local professional. You don’t have to speak with a mentor to enter the challenge, but if you’re interested in doing so, click the “Find a Mentor” box under the mentorship section.</p>
                                    <p>Projects must be submitted in this portal by 11:59 pm on September 25th, 2020. Good luck!</p>
                                </div>
                            </div><!-- post-body end -->
                        </div><!-- 1st post end -->
                        <div class="post">


                            <div class="post-body mt-2 pt-3">
                                <div class="post-meta">



                                </div>
                                <div class="entry-header">
                                    <h2 class="entry-title">
                                        <a href="#">Submissions to be Scored</a>
                                    </h2>
                                </div><!-- header end -->

                                <div class="entry-content">
                                    <p>Once the challenge is complete, you will find a list of submissions assigned to you requiring scores. This will be a blind judging so you will not know the identity of the student whose submission you are scoring. However, if you feel that you recognize the work of a student you are scoring or otherwise have reason to believe that there may be a conflict of interest, please click the button next to the submission and a replacement submission will be assigned to you. </p>
                                </div>
                            </div><!-- post-body end -->
                        </div><!-- 1st post end -->



                    </div><!-- Content Col end -->

                </div><!-- Main row end -->

            </div><!-- Container end -->
        </section><!-- Main container end -->

        <!-- ts footer area start-->
        <div class="footer-area">

            <!-- ts-book-seat start-->

            <!-- book seat  end-->

            <!-- footer start-->
            <footer class="ts-footer pt-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <!-- footer social end-->
                            <div class="footer-menu text-center mb-25">

                            </div><!-- footer menu end-->
                            <div class="copyright-text text-center">
                                <p>Powered by Codeup © 2020 </p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- footer end-->

            <div class="BackTo">
                <a href="#" class="fa fa-angle-up" aria-hidden="true"></a>
            </div>

        </div>
        <!-- ts footer area end-->




        <!-- Javascript Files
              ================================================== -->
        <!-- initialize jQuery Library -->
        <script src="js/jquery.js"></script>

        <script src="js/popper.min.js"></script>
        <!-- Bootstrap jQuery -->
        <script src="js/bootstrap.min.js"></script>
        <!-- Counter -->
        <script src="js/jquery.appear.min.js"></script>
        <!-- Countdown -->
        <script src="js/jquery.jCounter.js"></script>
        <!-- magnific-popup -->
        <script src="js/jquery.magnific-popup.min.js"></script>
        <!-- carousel -->
        <script src="js/owl.carousel.min.js"></script>
        <!-- Waypoints -->
        <script src="js/wow.min.js"></script>
        <!-- isotop -->
        <script src="js/isotope.pkgd.min.js"></script>

        <!-- Template custom -->
        <script src="js/main.js"></script>
    </div>
</div>

</body>
</html>