<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="judge-dash">
    <div class="body-inner">
        <div th:replace="fragments/navbar">
            partial content goes here...
        </div>

        <div id="page-banner-area" class="page-banner-area" style="background-image:url(./images/hero_area/banner_bg.jpg)">
            <!-- Subpage title start -->
            <div class="page-banner-title">
                <div class="text-center">
                    <h2>Welcome, <span class="ml-2" th:text="${currentUser.firstName + ' ' + currentUser.lastName}"></span></h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="#"></a>
                        </li>
                        <li>
                        </li>
                    </ol>
                </div>
            </div><!-- Subpage title end -->
        </div><!-- Page Banner end -->

        <section id="main-container" class="main-container">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-md-8 col-sm-12 mx-auto">
                        <div class="post">


                            <div class="post-body mt-2 pt-3">
                                <div class="post-meta">



                                </div>
                                <div class="entry-header">
                                    <h2 class="entry-title">
                                        <a href="#">Instructions for Judges</a>
                                    </h2>
                                </div><!-- header end -->

                                <div class="entry-content">
                                    <p>Thank you for participating as a judge for the COVID-19 Data Challenge! As a judge, you will be evaluating submissions to this challenge based on criteria provided below. You will read the instructions for the challenge as they were provided to the students as well as review the data-sets they have used to come up with their solutions. Considering the instructions, data, and grade level of the student, you will provide a score for each criterion for each submission. Students will be ranked based on an aggregate score from multiple judges.</p>
                                    <p>Judging will open on September 28th and needs to be complete by October 5th. We anticipate each judge being assigned multiple student submissions. Each submission should take 15-30 minutes to review. Overall, we expect that you’ll need about 2 to 3 hours to complete the judging. For proof of volunteer hours for your employer, or for any other questions, please contact innovation@dallascityhall.com.</p>
                                </div>


                            </div><!-- post-body end -->
                        </div><!-- 1st post end -->

                        <div class="post">


                            <div class="post-body mt-2 pt-3">
                                <div class="post-meta">



                                </div>
                                <div class="entry-header">
                                    <h2 class="entry-title">
                                        <a href="#">Data-Sets</a>
                                    </h2>
                                </div><!-- header end -->

                                <div class="entry-content">
                                    <p>Below are links to provided COVID-19 data from which students can draw their own conclusions and apply them to this challenge. They are allowed to use other publicly available data to produce your project; however, they must cite their data sources and any data source that is deemed to be disreputable will disqualify their project.

                                        Judges are not looking for a specific analysis or a right or wrong answer. In fact, the students can define the question you want to answer. We encourage the students to review the datasets and create a question that they are interested in analyzing, from the impact of social distancing to food access to age groups. An example could be “are COVID-19 cases more prevalent in food deserts?”

                                        The data is deliberately provided in multiple formats and was provided to you as a judge so that you can familiarize yourself to the data the students used.
                                    </p>
                                    <ul>
                                        <a href="https://app.luminpdf.com/viewer/5f553c828911440019194ac5" target="_blank"><li style="list-style: none">DCHHS Weekly Summary ending 9/11/20</li></a>
                                        <a href="https://dshs.texas.gov/coronavirus/additionaldata.aspx" target="_blank"><li style="list-style: none">Texas Covid-19 Data</li></a>
                                        <a href="https://app.luminpdf.com/viewer/5f57b2c179634100197a0861" target="_blank"><li style="list-style: none">PCCI Covid-19 City Distribution 08/31/2020</li></a>
                                        <a href="https://app.luminpdf.com/viewer/5f5ec0534745b800192e876b" target="_blank"><li style="list-style: none">PCCI Covid-19 Zip Code Distribution 08/31/2020</li></a>
                                        <a href="https://app.luminpdf.com/viewer/5f5ec1758352960018b65ee1" target="_blank"><li style="list-style: none">PCCI Covid-19 City Distribution 08/04/2020</li></a>
                                        <a href="https://app.luminpdf.com/viewer/5f5ebfc19b0e120019311ae9" target="_blank"><li style="list-style: none">PCCI Covid-19 Zip Code Distribution 04/29/2020</li></a>
                                        <a href="https://app.luminpdf.com/viewer/5f5ebf8d969ab900189f1e08" target="_blank"><li style="list-style: none">PCCI Covid-19 City Distribution 04/29/2020</li></a>
                                        <a href="http://cdi.pccinnovation.org:8282/embed?groupId=cdb3c8c0-1dcf-4215-a667-3c4ab89e5acf&reportId=4b60c992-82ca-4632-8d45-608206dd4414" target="_blank"><li style="list-style: none">PCCI Graphs and Charts</li></a>

                                        <!--  Links -->
                                        <a href="https://www.cdc.gov/mmwr/volumes/69/wr/pdfs/mm6932e3-H.pdf" target="_blank"><li style="list-style: none">Background: Health Factors in Youth with COVID-19</li></a>
                                        <a href="https://downloads.aap.org/AAP/PDF/AAP%20and%20CHA%20-%20Children%20and%20COVID-19%20State%20Data%20Report%209.3.20%20FINAL.pdf" target="_blank"><li style="list-style: none">Background: Children and COVID-19: State Data Report</li></a>
                                        <a href="https://www.unacast.com/covid19/social-distancing-scoreboard?view=county&fips=48113" target="_blank"><li style="list-style: none">Social Distancing Scorecard</li></a>
                                        <a href="https://drive.google.com/file/d/1qdi992v5zCAdIfUJTeulna9rW9iwfzKS/view?usp=sharing" target="_blank"><li style="list-style: none">COVID and Changing Food Needs for Families</li></a>
                                        <a href="https://drive.google.com/file/d/1PoegOaNjQA3iN33iB-4ibkrBAcfWMVy1/view?usp=sharing" target="_blank"><li style="list-style: none">NCHS Provisional COVID-19 Death Counts by Sex, Age, and State</li></a>
                                        <a href="https://drive.google.com/file/d/10qr4yTY9kYR5y1N4XpMjUsuMAyDQsqM0/view?usp=sharing" target="_blank"><li style="list-style: none">Publicly available Apple Mobility Report</li></a>
                                        <a href="https://drive.google.com/file/d/1KUIL7gLH4ueg5puSCRCd8FiKdpRQ_m4M/view?usp=sharing" target="_blank"><li style="list-style: none">Publicly available Google Mobility Report</li></a>
                                        <a href="https://coronavirus.jhu.edu/us-map" target="_blank"><li style="list-style: none">Johns Hopkins COVID-19 Resource Center</li></a>
                                        <a href="https://public.tableau.com/profile/cityofdallasdtxinnovationteam#!/vizhome/Book3_15862351183220/Sources" target="_blank"><li style="list-style: none">City of Dallas COVID-19 Dashboard</li></a>
                                        <a href="https://covid-analytics-pccinnovation.hub.arcgis.com/" target="_blank"><li style="list-style: none">PCCI COVID-19 Resource Hub for Dallas County</li></a>
                                    </ul>
                                </div>
                            </div><!-- post-body end -->
                        </div><!-- 1st post end -->

                        <div class="post">


                            <div class="post-body mt-2 pt-3">
                                <div class="post-meta">



                                </div>
                                <div class="entry-header">
                                    <h2 class="entry-title">
                                        <a href="#">Judging Criteria</a>
                                    </h2>
                                </div><!-- header end -->

                                <div class="entry-content">
                                    <ul>
                                        <li>Data Management (10 pts): This project uses data effectively, efficiently, and accurately to generate results.</li>
                                        <li>Creativity (5 pts): The way that this project uses and presents data is novel or innovative.</li>
                                        <li>Analysis (20 pts): This project contains thoughtful, outcome-oriented analysis that produces insights.</li>
                                        <li>Visualization (5 pts): This project makes use of a presentable, aesthetically pleasing, effective visualization.</li>
                                        <li>Coding (5 pts): This project makes use of intelligent, well-written code to generate results.</li>
                                        <li>Professionalism (5 pts): The formatting, grammar, citations, and presentation of this project is professional in quality.</li>
                                    </ul>
                                </div>


                            </div><!-- post-body end -->
                        </div><!-- 1st post end -->

                        <div class="post">


                            <div class="post-body mt-2 pt-3">
                                <div class="post-meta">



                                </div>
                                <div class="entry-header">
                                    <h2 class="entry-title">
                                        <a href="#">Description of Challenge</a>
                                    </h2>
                                </div><!-- header end -->

                                <div class="entry-content">
                                    <p>The COVID-19 pandemic is affecting people across our region. The DFW metroplex has had over 150,000 cases of COVID-19, and many of these cases have occurred in younger people. Those who are younger may feel fine and not have any symptoms, but may be unknowingly spreading the virus to their friends and family because of it. This makes it especially important for teenagers and young adults to be aware of the risks of the virus and to have a good understanding of how it is impacting our communities.</p>
                                    <p>The COVID-19 Student Data Challenge is an opportunity for students from our area to analyze real data-sets to learn more about COVID-19 and what’s happening in the Dallas area. By participating in the challenge, not only will students learn more about data skills and have a chance to win a prize, they will also have the opportunity to help spread awareness of COVID-19 and keep our schools and communities safe.</p>
                                    <p>Their task is to produce a deliverable that demonstrates analysis of these data-sets and communicates insights that they've learned about COVID-19 through the data. These deliverables can be a Powerpoint, a dashboard, a written document, or any other format of communicating this information.</p>
                                </div>
                            </div><!-- post-body end -->
                        </div><!-- 1st post end -->
                        <div class="post">


                            <div class="post-body mt-2 pt-3">
                                <div class="post-meta">



                                </div>
                                <div class="entry-header">
                                    <h2 class="entry-title">
                                        <a href="#">Submissions to be Scored</a>
                                    </h2>
                                </div><!-- header end -->

                                <div class="entry-content">
<!--                                    <p>Once the challenge is complete, you will find a list of submissions assigned to you requiring scores. This will be a blind judging so you will not know the identity of the student whose submission you are scoring. However, if you feel that you recognize the work of a student you are scoring or otherwise have reason to believe that there may be a conflict of interest, please click the button next to the submission and a replacement submission will be assigned to you. </p>-->

                                        <div th:each="submission : ${judgesSubmissions}">
                                            <ul class="d-flex justify-content-between" style="list-style: none">
                                                <li><a th:href="@{/download/{id}/db(id=${submission.id})}" th:text="${submission.fileName}"></a></li>
                                                <li th:text="'GRADE: ' + ${submission.owner.grade}"></li>
                                                <li><a href="/score" class="btn">Score Submission</a></li>
                                            </ul>
                                            <hr>
                                        </div>

                                </div>
                            </div><!-- post-body end -->
                        </div><!-- 1st post end -->
                        <div class="post">


                            <div class="post-body mt-2 pt-3">
                                <div class="post-meta">



                                </div>
                                <div class="entry-header">
                                    <h2 class="entry-title">
                                        <a href="#">Conflict of Interest</a>
                                    </h2>
                                </div><!-- header end -->

                                <div class="entry-content">
                                    <p>Once the challenge is complete, you will find a list of submissions assigned to you requiring scores. This will be a blind judging so you will not know the identity of the student whose submission you are scoring. However, if you feel that you recognize the work of a student you are scoring or otherwise have reason to believe that there may be a conflict of interest, please click the button below and a replacement submission will be assigned to you. </p>
                                </div>
                                <a href="https://docs.google.com/forms/d/e/1FAIpQLSdjXqBgTNIb8ZzI3pztZa_Cbeww_lYMOEbj0GcZJPXAd3MgDA/viewform?usp=sf_link" class="btn rounded-pill" style="background-color: #803E97; color: white; width: 100%" target="_blank">Conflict Form
                                </a>
                            </div><!-- post-body end -->
                        </div><!-- 1st post end -->



                    </div><!-- Content Col end -->

                </div><!-- Main row end -->

            </div><!-- Container end -->
        </section><!-- Main container end -->

        <!-- ts footer area start-->
        <div class="footer-area">

            <!-- ts-book-seat start-->

            <!-- book seat  end-->

            <!-- footer start-->
            <footer class="ts-footer pt-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <!-- footer social end-->
                            <div class="footer-menu text-center mb-25">

                            </div><!-- footer menu end-->
                            <div class="copyright-text text-center">
                                <p>Powered by Codeup © 2020 </p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- footer end-->

            <div class="BackTo">
                <a href="#" class="fa fa-angle-up" aria-hidden="true"></a>
            </div>

        </div>
        <!-- ts footer area end-->




        <!-- Javascript Files
              ================================================== -->
        <!-- initialize jQuery Library -->
        <script src="js/jquery.js"></script>

        <script src="js/popper.min.js"></script>
        <!-- Bootstrap jQuery -->
        <script src="js/bootstrap.min.js"></script>
        <!-- Counter -->
        <script src="js/jquery.appear.min.js"></script>
        <!-- Countdown -->
        <script src="js/jquery.jCounter.js"></script>
        <!-- magnific-popup -->
        <script src="js/jquery.magnific-popup.min.js"></script>
        <!-- carousel -->
        <script src="js/owl.carousel.min.js"></script>
        <!-- Waypoints -->
        <script src="js/wow.min.js"></script>
        <!-- isotop -->
        <script src="js/isotope.pkgd.min.js"></script>

        <!-- Template custom -->
        <script src="js/main.js"></script>
    </div>
</div>

</body>
</html>