<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="student-dash">
    <div class="body-inner">
        <div th:replace="fragments/navbar">
            partial content goes here...
        </div>

        <div id="page-banner-area" class="page-banner-area" style="background-image:url(./images/hero_area/banner_bg.jpg)">
            <!-- Subpage title start -->
            <div class="page-banner-title">
                <div class="text-center">
                    <h2>Welcome, <span class="ml-2" th:text="${currentUser.firstName + ' ' + currentUser.lastName}"></span></h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="#"></a>
                        </li>
                        <li>
                        </li>
                    </ol>
                </div>
            </div><!-- Subpage title end -->
        </div><!-- Page Banner end -->

        <section id="main-container" class="main-container">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-md-8 col-sm-12 mx-auto">
                        <div class="post">


                            <div class="post-body mt-2 pt-3">
                                <div class="post-meta">



                                </div>
                                <div class="entry-header">
                                    <h2 class="entry-title">
                                        <a href="#">Challenge Instructions</a>
                                    </h2>
                                </div><!-- header end -->

                                <div class="entry-content">
                                    <p>The COVID-19 pandemic is affecting people across our region. The DFW metroplex has had over 150,000 cases of COVID-19, and many of these cases have occurred in younger people. Those who are younger may feel fine and not have any symptoms, but may be unknowingly spreading the virus to their friends and family because of it. This makes it especially important for teenagers and young adults to be aware of the risks of the virus and to have a good understanding of how it is impacting our communities.</p>
                                    <p>The COVID-19 Student Data Challenge is an opportunity for you and other students from our area to analyze real data-sets to learn more about COVID-19 and what’s happening in the Dallas area. By participating in the challenge, not only will you learn more about data skills and have a chance to win a prize, you will also have the opportunity to help spread awareness of COVID-19 and keep our schools and communities safe.</p>
                                    <p>Your task is to complete an analysis of any combination of data-sets provided and to communicate insights that you’ve learned about COVID-19 through the data. This analysis can be submitted as  Powerpoint, a dashboard, a written document, or any other format of communicating this information. The only rule is that submissions are capped at 10 pages maximum, including any charts and code. We encourage you to use visuals as needed to explain your information.</p>
                                    <h3>Submissions will be judged on the following criteria:</h3>
                                    <ul>
                                        <li>Data Management: how effectively you used data</li>
                                        <li>Creativity: how innovatively you used the data</li>
                                        <li>Analysis: how thoughtful and insightful your results were</li>
                                        <li>Visualization: how effective your data visualizations were</li>
                                        <li>Coding: how well you used code to generate results</li>
                                        <li>Professionalism: how neat your grammar, formatting, and citations are</li>
                                    </ul>
                                    <p>To help you with these projects, we will be providing optional mentorship appointments to get help from a local professional. You don’t have to speak with a mentor to enter the challenge, but if you’re interested in doing so, click the “Find a Mentor” box under the mentorship section.</p>
                                    <p>Projects must be submitted in this portal by 11:59 pm on September 25th, 2020. Good luck!</p>
                                </div>

                            </div><!-- post-body end -->
                        </div><!-- 1st post end -->
                        <div class="post">


                            <div class="post-body mt-2 pt-3">
                                <div class="post-meta">



                                </div>
                                <div class="entry-header">
                                    <h2 class="entry-title">
                                        <a href="#">Data-Sets</a>
                                    </h2>
                                </div><!-- header end -->

                                <div class="entry-content">
                                    <p>Below are links to provided COVID-19 data from which you can draw your own conclusions and apply them to this challenge. You are allowed to use other publicly available data to produce your project; however, you must cite your data sources and any data source that is deemed to be disreputable will disqualify your project.

                                        The judges are not looking for a specific analysis or a right or wrong answer. In fact, you can define the question you want to answer. We encourage you to review the datasets and create a question that you are interested in analyzing, from the impact of social distancing to food access to age groups. An example could be “are COVID-19 cases more prevalent in food deserts?”

                                        The data is deliberately provided in multiple formats. In data analysis, you will often need to interpret data that is incomplete, imperfect or may not seem connected. This is one of the challenges in data analysis, even for large organizations like the City or County and corporations. If you encounter a situation in any of the datasets where data appears to be missing or incomplete, please describe how you dealt with this in your analysis and any assumptions that you made. Finally, you are not required to use all the datasets in your analysis; just the ones relevant to the question you want to answer.

                                        *Make sure you include the main question for your analysis in your submission so the judges know the question you wanted to answer, your data analysis, your conclusions and your recommendations.*
                                    </p>
                                    <ul>
                                        <a href="https://app.luminpdf.com/viewer/5f553c828911440019194ac5" target="_blank"><li style="list-style: none">DCHHS Weekly Summary ending 9/11/20</li></a>
                                        <a href="https://dshs.texas.gov/coronavirus/additionaldata.aspx" target="_blank"><li style="list-style: none">Texas Covid-19 Data</li></a>
                                        <a href="https://app.luminpdf.com/viewer/5f57b2c179634100197a0861" target="_blank"><li style="list-style: none">PCCI Covid-19 City Distribution 08/31/2020</li></a>
                                        <a href="https://app.luminpdf.com/viewer/5f5ec0534745b800192e876b" target="_blank"><li style="list-style: none">PCCI Covid-19 Zip Code Distribution 08/31/2020</li></a>
                                        <a href="https://app.luminpdf.com/viewer/5f5ec1758352960018b65ee1" target="_blank"><li style="list-style: none">PCCI Covid-19 City Distribution 08/04/2020</li></a>
                                        <a href="https://app.luminpdf.com/viewer/5f5ebfc19b0e120019311ae9" target="_blank"><li style="list-style: none">PCCI Covid-19 Zip Code Distribution 04/29/2020</li></a>
                                        <a href="https://app.luminpdf.com/viewer/5f5ebf8d969ab900189f1e08" target="_blank"><li style="list-style: none">PCCI Covid-19 City Distribution 04/29/2020</li></a>
                                        <a href="http://cdi.pccinnovation.org:8282/embed?groupId=cdb3c8c0-1dcf-4215-a667-3c4ab89e5acf&reportId=4b60c992-82ca-4632-8d45-608206dd4414" target="_blank"><li style="list-style: none">PCCI Graphs and Charts</li></a>

                                        <!--  Links -->
                                        <a href="https://www.cdc.gov/mmwr/volumes/69/wr/pdfs/mm6932e3-H.pdf" target="_blank"><li style="list-style: none">Background: Health Factors in Youth with COVID-19</li></a>
                                        <a href="https://downloads.aap.org/AAP/PDF/AAP%20and%20CHA%20-%20Children%20and%20COVID-19%20State%20Data%20Report%209.3.20%20FINAL.pdf" target="_blank"><li style="list-style: none">Background: Children and COVID-19: State Data Report</li></a>
                                        <a href="https://www.unacast.com/covid19/social-distancing-scoreboard?view=county&fips=48113" target="_blank"><li style="list-style: none">Social Distancing Scorecard</li></a>
                                        <a href="https://drive.google.com/file/d/1qdi992v5zCAdIfUJTeulna9rW9iwfzKS/view?usp=sharing" target="_blank"><li style="list-style: none">COVID and Changing Food Needs for Families</li></a>
                                        <a href="https://drive.google.com/file/d/1PoegOaNjQA3iN33iB-4ibkrBAcfWMVy1/view?usp=sharing" target="_blank"><li style="list-style: none">NCHS Provisional COVID-19 Death Counts by Sex, Age, and State</li></a>
                                        <a href="https://drive.google.com/file/d/10qr4yTY9kYR5y1N4XpMjUsuMAyDQsqM0/view?usp=sharing" target="_blank"><li style="list-style: none">Publicly available Apple Mobility Report</li></a>
                                        <a href="https://drive.google.com/file/d/1KUIL7gLH4ueg5puSCRCd8FiKdpRQ_m4M/view?usp=sharing" target="_blank"><li style="list-style: none">Publicly available Google Mobility Report</li></a>
                                        <a href="https://coronavirus.jhu.edu/us-map" target="_blank"><li style="list-style: none">Johns Hopkins COVID-19 Resource Center</li></a>
                                        <a href="https://public.tableau.com/profile/cityofdallasdtxinnovationteam#!/vizhome/Book3_15862351183220/Sources" target="_blank"><li style="list-style: none">City of Dallas COVID-19 Dashboard</li></a>
                                        <a href="https://covid-analytics-pccinnovation.hub.arcgis.com/" target="_blank"><li style="list-style: none">PCCI COVID-19 Resource Hub for Dallas County</li></a>
                                    </ul>
                                </div>
                            </div><!-- post-body end -->
                        </div><!-- 1st post end -->
                        <div class="post">


                            <div class="post-body mt-2 pt-3">
                                <div class="post-meta">



                                </div>
                                <div class="entry-header">
                                    <h2 class="entry-title">
                                        <a href="#">Mentorship</a>
                                    </h2>
                                </div><!-- header end -->

                                <div class="entry-content">
                                  <p>To help facilitate your project, mentors from the data industry in Dallas will offer “office hours” as a resource to help you develop your work. You can sign up for a mentor slot by clicking the “Find a Mentor” button below. This link will take you to a spreadsheet where you can sign up for a slot. Note: this spreadsheet will track any changes made to it, so please sign up for an empty slot and do not erase someone else’s name to take their slot. Doing so will mean you’ll be disqualified. Once you sign up, you’ll be given contact information for a mentor who is available during your timeslot. Please reach out to them to schedule your appointment.</p>
                                </div>

                                <a href="https://docs.google.com/spreadsheets/d/1W7GYS40yhLOMVVPrfeUmY5TBpoRuPxierH1VvJOCeBY/edit#gid=0" class="btn rounded-pill" style="background-color: #803E97; color: white; width: 100%" target="_blank">Find a Mentor
                                </a>


                            </div><!-- post-body end -->
                        </div><!-- 1st post end -->
                        <th:block th:if="${currentUserSubmissions == null}">
                        <div class="post">


                            <div class="post-body mt-2 pt-3">
                                <div class="post-meta">

                                </div>
                                <div class="entry-header">
                                    <h2 class="entry-title">
                                        <a href="#">Submissions</a>
                                    </h2>
                                </div><!-- header end -->

                                <div class="entry-content">
                                    <p>Once you have completed your analysis and are ready to submit , you may use the form below to upload your file. Note: submissions over 25 megabytes will not be accepted. You will not be able to revise your file after submission.</p>
                                </div>

                                <div class="post-footer">
<!--                                    <a th:href="@{/submissions/create}" class="btn rounded-pill" style="background-color: #803E97; color: white; width: 100%">Upload Your Submission</a>-->
                                    <h3 class="card-title text-center">Upload Your Submission</h3>

                                    <form th:action="@{/upload/db}" th:method="POST" th:object="${submission}" enctype="multipart/form-data">
                                        <input class="mt-2" id="file" name="file" type="file" />
                                        <br>
                                        <input id="submission-confirmation" class="mt-2" type="submit" value="Upload" />
                                    </form>
                                </div>
<!--                                    <p class="d-flex justify-content-center">You will be able to submit your response starting on Wednesday September 16 2020.</p>-->

                            </div><!-- post-body end -->
                        </div><!-- 1st post end -->
                        </th:block>

                    </div><!-- Content Col end -->

                </div><!-- Main row end -->

            </div><!-- Container end -->
        </section><!-- Main container end -->

        <!-- ts footer area start-->
        <div class="footer-area">

            <!-- ts-book-seat start-->

            <!-- book seat  end-->

            <!-- footer start-->
            <footer class="ts-footer pt-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <!-- footer social end-->
                            <div class="footer-menu text-center mb-25">

                            </div><!-- footer menu end-->
                            <div class="copyright-text text-center">
                                <p>Powered by Codeup © 2020 </p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- footer end-->

            <div class="BackTo">
                <a href="#" class="fa fa-angle-up" aria-hidden="true"></a>
            </div>

        </div>
        <!-- ts footer area end-->




        <!-- Javascript Files
              ================================================== -->
        <!-- initialize jQuery Library -->
        <script src="js/jquery.js"></script>

        <script src="js/popper.min.js"></script>
        <!-- Bootstrap jQuery -->
        <script src="js/bootstrap.min.js"></script>
        <!-- Counter -->
        <script src="js/jquery.appear.min.js"></script>
        <!-- Countdown -->
        <script src="js/jquery.jCounter.js"></script>
        <!-- magnific-popup -->
        <script src="js/jquery.magnific-popup.min.js"></script>
        <!-- carousel -->
        <script src="js/owl.carousel.min.js"></script>
        <!-- Waypoints -->
        <script src="js/wow.min.js"></script>
        <!-- isotop -->
        <script src="js/isotope.pkgd.min.js"></script>

        <!-- Template custom -->
        <script src="js/main.js"></script>
    </div>
</div>

</body>

</html>