<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Score Submission</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>

<body>
<div th:replace="fragments/navbar">
    partial content goes here...
</div>
<div class="container my-5 my-auto">
    <div class="login-signup-form row align-items-center">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5">
                <div class="card-img-left d-none d-md-flex">
                </div>
                <div class="card-body mt-5">
                    <h2 class="card-title text-center mb-5">Score Submission</h2>
                    <form th:action="@{'/submissions/' + ${submission.id} + '/score'}" method="POST" th:object="${score}">
                        <div class="form-label-group d-flex justify-content-between">
                            <label class="my-1 mr-2" for="analysis">Analysis</label>
                            <select class="custom-select my-1 mr-sm-2" id="analysis" name="analysis" style="width: 100px" th:field="*{analysis}">
<!--                                <option selected value="Select Score">Select Score</option>-->
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                            </select>
                        </div>
                        <hr>
                        <div class="form-label-group d-flex justify-content-between">
                            <label class="my-1 mr-2" for="coding">Coding</label>
                            <select class="custom-select my-1 mr-sm-2" id="coding" name="coding" th:field="*{coding}" style="width: 100px">
<!--                                <option selected value="Select Score">Select Score</option>-->
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <hr>
                        <div class="form-label-group d-flex justify-content-between">
                            <label class="my-1 mr-2" for="creativity">Creativity</label>
                            <select class="custom-select my-1 mr-sm-2" id="creativity" name="creativity" th:field="*{creativity}" style="width: 100px">
<!--                                <option selected value="Select Score">Select Score</option>-->
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <hr>
                        <div class="form-label-group d-flex justify-content-between">
                            <label class="my-1 mr-2" for="visualization">Visualization</label>
                            <select class="custom-select my-1 mr-sm-2" id="visualization" name="visualization" th:field="*{visualization}" style="width: 100px">
<!--                                <option selected value="Select Score">Select Score</option>-->
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <hr>
                        <div class="form-label-group d-flex justify-content-between">
                            <label class="my-1 mr-2" for="professionalism">Professionalism</label>
                            <select class="custom-select my-1 mr-sm-2" id="professionalism" name="professionalism" th:field="*{professionalism}" style="width: 100px">
<!--                                <option selected value="Select Score">Select Score</option>-->
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <hr>
                        <div class="form-label-group d-flex justify-content-between">
                            <label class="my-1 mr-2" for="dataManagement">Data Management</label>
                            <select class="custom-select my-1 mr-sm-2" id="dataManagement" name="dataManagement" th:field="*{dataManagement}" style="width: 100px">
<!--                                <option selected value="Select Score">Select Score</option>-->
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                        <hr>
                        <div class="form-label-group">
                            <label for="comment">Leave a comment</label>
                            <input type="text" id="comment" name="comment" maxlength="255" class="form-control" th:classappend="validate" th:field="*{comment}" required autofocus>
                        </div>
                        <button class="login-signup-button btn btn-lg btn-block text-uppercase mt-3" type="submit" style="background-color: #ff007a; color: white;">Submit
                        </button>
                    </form>



                </div>
            </div>
        </div>
    </div>
</div>
<!--<section th:replace="fragments/section :: section"></section>-->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>